:root{
    --almost-white: rgba(250, 250, 250, 255);
    --white: hsl(0, 0%, 100%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--almost-white);
   
}
